@import url(./assets/stylesheets/fonts.css);

/* General Styles */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    color-scheme: dark;

    --text-light: #f8f9ff;
    --background-color: #000214;

    --primary-color: #860fc2;
    --secondary-color: #5cc3f0;
    --accent-color: #c1b6f9;

    --ship-color: #00fff0;

    --opponent-hit: #25ff74;
    --opponent-hit-low-opacity: rgba(37, 255, 116, 0.65);
    --opponent-hit-darker: #00b341;

    --orange-hit: #ea9500;

    --self-hit: #ff5136;
    --self-hit-low-opacity: rgba(255, 81, 54, 0.65);

    --start-button-color: rgb(37, 255, 116);
    --start-button-bg-color: rgba(37, 255, 116, 0.36);
    --start-button-pattern-color: rgba(37, 255, 116, 0.073);

    --start-button-error-color: rgb(255, 81, 54);
    --start-button-error-bg-color: rgba(255, 81, 54, 0.36);
    --start-button-error-pattern-color: rgba(255, 81, 54, 0.073);

    --start-button-reset-color: rgb(234, 149, 0);
    --start-button-reset-bg-color: rgba(234, 149, 0, 0.36);
    --start-button-reset-pattern-color: rgba(234, 149, 0, 0.073);
}

body {
    font-family: Geist;
    color: var(--text-light);

    background-color: var(--background-color);
    height: 100svh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

a {
    color: var(--text-light);
    text-decoration: none;
}

/* General Styles */

/*-------------------------------------------------------------------------*/

/* Header Styles */

.page-header {
    margin-left: 1rem;
    align-self: start;

    display: flex;
}

.page-title {
    font-size: 2.75rem;
    font-weight: 700;

    position: relative;
}

.creator-info {
    position: absolute;
    bottom: -10%;

    font-weight: 300;
    font-size: 1.05rem;
    font-style: italic;
}

.github-profile {
    position: relative;
}

.github-profile::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 1.25%;
    width: 100%;
    height: 0.25rem;
    background-color: rgba(92, 195, 240, 0.65);
    transform: skewX(-30deg);
    transition: 0.25s;
}

.github-profile:hover::before {
    background-color: rgba(92, 195, 240, 1);
}

.github-profile:visited::before {
    background-color: rgba(134, 15, 194, 0.65);
}

.github-profile:visited:hover::before {
    background-color: rgba(134, 15, 194, 1);
}

/* Header Styles */

/*-------------------------------------------------------------------------*/

/* Main Styles */

main.game-cont {
    flex-grow: 1;
}

/*-------------------------------------------------------------------------*/

/* Game Styles */

.game-cont {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6em;
}

.game-info {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

/*-------------------------------------------------------------------------*/

/* Board Styles */

.player-side,
.opponent-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.player-title {
    text-transform: uppercase;
    text-align: center;

    color: var(--text-light);
    -webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--opponent-hit);
}

.opponent-title {
    text-transform: uppercase;
    text-align: center;

    color: var(--text-light);
    -webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--self-hit);
}

.player-grid,
.opponent-grid {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    border-top: 1.5px solid var(--text-light);
    border-left: 1.5px solid var(--text-light);
    border-bottom: 1.5px solid var(--text-light);
    border-right: 1.5px solid var(--text-light);
}

.game-info.game-started .player-side:not(.attacked),
.game-info.game-started .opponent-side:not(.attacked) {
    opacity: 0.65;
    cursor: not-allowed;
}

.game-info.game-ended .player-grid,
.game-info.game-ended .opponent-grid {
    opacity: 0.65;
    cursor: not-allowed;
}

.game-flow-indicator {
    font-size: 1.25ch;
    min-width: calc(25 * 1.25ch);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-flow-indicator > .player-move {
    text-transform: uppercase;
    text-align: center;

    color: var(--text-light);
    -webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--opponent-hit);
}

.game-flow-indicator > .opponent-move {
    text-transform: uppercase;
    text-align: center;

    color: var(--text-light);
    -webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--self-hit);
}

.player-side.attacked .grid-square,
.opponent-side.attacked .grid-square {
    cursor: pointer;
}

.grid-square {
    position: relative;
}

.grid-square:not([data-column='10']) {
    border-right: 1.5px solid var(--text-light);
}

.grid-square:not([data-row='J']) {
    border-bottom: 1.5px solid var(--text-light);
}

.grid-square:has(.placement-hover-indicator) {
    cursor: pointer;
}

.row-start::before {
    content: attr(data-row);
    font-weight: 400;
    font-size: 1.15rem;
    position: absolute;
    top: 50%;
    left: -75%;
    transform: translate(-50%, -50%);
}

.last-row::after {
    content: attr(data-column);
    font-weight: 400;
    font-size: 1.15rem;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
}

.placement-hover-indicator,
.manual-placement-cont > .ship-cont.already-placed {
    background: rgba(37, 255, 116, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.manual-placement-cont > .ship-cont.already-placed {
    border: 2px solid var(--opponent-hit);
}

.ship-start-horizontal,
.ship-mid-horizontal,
.ship-end-horizontal,
.ship-start-vertical,
.ship-mid-vertical,
.ship-end-vertical {
    cursor: move;
    width: 100%;
    height: 100%;
    background: rgba(103, 237, 255, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.ship-start-horizontal,
.ship-start-vertical {
    cursor: pointer;
}

.placement-hover-indicator.ship-start-horizontal {
    border: 2px solid var(--opponent-hit);
    border-right: none;
}

.ship-start-horizontal {
    border: 2px solid var(--ship-color);
    border-right: none;
}

.placement-hover-indicator.ship-mid-horizontal {
    border: 2px solid var(--opponent-hit);
    border-right: none;
    border-left: none;
}

.ship-mid-horizontal {
    border: 2px solid var(--ship-color);
    border-right: none;
    border-left: none;
}

.placement-hover-indicator.ship-end-horizontal {
    border: 2px solid var(--opponent-hit);
    border-left: none;
}

.ship-end-horizontal {
    border: 2px solid var(--ship-color);
    border-left: none;
}

.placement-hover-indicator.ship-start-vertical {
    border: 2px solid var(--opponent-hit);
    border-bottom: none;
}

.ship-start-vertical {
    border: 2px solid var(--ship-color);
    border-bottom: none;
}

.placement-hover-indicator.ship-mid-vertical {
    border: 2px solid var(--opponent-hit);
    border-top: none;
    border-bottom: none;
}

.ship-mid-vertical {
    border: 2px solid var(--ship-color);
    border-top: none;
    border-bottom: none;
}

.placement-hover-indicator.ship-end-vertical {
    border: 2px solid var(--opponent-hit);
    border-top: none;
}

.ship-end-vertical {
    border: 2px solid var(--ship-color);
    border-top: none;
}

.player-ship-hit {
    background-color: rgba(255, 81, 54, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.opponent-ship-hit {
    width: 100%;
    height: 100%;
    background-color: rgba(234, 149, 0, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.opponent-ship-hit,
.player-ship-hit,
.grid-square.miss {
    cursor: not-allowed;
    background-image: url(./assets/icons/x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ship-destroyed.player-ship-hit {
    border: 2px solid var(--self-hit);
}

.ship-destroyed.opponent-ship-hit {
    background-color: rgba(37, 255, 116, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid var(--opponent-hit);
}

.ship-destroyed.opponent-ship-hit.ship-start-horizontal {
    border: 2px solid var(--opponent-hit);
    border-right: none;
}

.ship-destroyed.opponent-ship-hit.ship-mid-horizontal {
    border: 2px solid var(--opponent-hit);
    border-left: none;
    border-right: none;
}

.ship-destroyed.opponent-ship-hit.ship-end-horizontal {
    border: 2px solid var(--opponent-hit);
    border-left: none;
}

.ship-destroyed.opponent-ship-hit.ship-start-vertical {
    border: 2px solid var(--opponent-hit);
    border-bottom: none;
}

.ship-destroyed.opponent-ship-hit.ship-mid-vertical {
    border: 2px solid var(--opponent-hit);
    border-top: none;
    border-bottom: none;
}

.ship-destroyed.opponent-ship-hit.ship-end-vertical {
    border: 2px solid var(--opponent-hit);
    border-top: none;
}

/* Board Styles */

/*-------------------------------------------------------------------------*/

/* Placement Styles */

.ship-placement-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    /*Prevents the shifting of the start button when switching between placement methods*/
    min-height: 30rem;
}

.placement-method {
    display: flex;
    gap: 1.5rem;
}

.placement-method > * {
    cursor: pointer;
    position: relative;
}

.placement-method > *::before {
    content: '';
    position: absolute;
    bottom: -10%;
    background: linear-gradient(
        90deg,
        rgba(134, 15, 194, 1) 25%,
        rgba(17, 213, 240, 1) 75%
    );
    width: 100%;
    height: 0.125rem;
    transform-origin: center;
    transform: scale(0);
    transition: 0.2s;
}

.placement-method > *.selected-method::before {
    transform: scale(1);
}

.placement-method > *:hover::before {
    transform: scale(1);
}

.placement-type-icon {
    display: inline-block;
    vertical-align: middle;
}

.manual-placement {
    margin-right: 2rem;
}

.random-placement {
    margin-left: 2rem;
}

.manual-placement-cont,
.random-placement-cont {
    margin-top: 1.25rem;
}

.placement-method-info-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-23 21:34:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.wobble-hor-bottom,
.placement-method-info-icon:hover,
.repo-link:hover > img {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-6%) rotate(-6deg);
        transform: translateX(-6%) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(3.5%) rotate(6deg);
        transform: translateX(3.5%) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-3.5%) rotate(-3.6deg);
        transform: translateX(-3.5%) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(2.25%) rotate(2.4deg);
        transform: translateX(2.25%) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-1.75%) rotate(-1.2deg);
        transform: translateX(-1.75%) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-6%) rotate(-6deg);
        transform: translateX(-6%) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(3.5%) rotate(6deg);
        transform: translateX(3.5%) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-3.5%) rotate(-3.6deg);
        transform: translateX(-3.5%) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(2.25%) rotate(2.4deg);
        transform: translateX(2.25%) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-1.75%) rotate(-1.2deg);
        transform: translateX(-1.75%) rotate(-1.2deg);
    }
}

.manual-placement-cont {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.manual-placement-cont > .ship-cont {
    position: relative;
    cursor: pointer;
    background: rgba(103, 237, 255, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid var(--ship-color);
}

.manual-placement-cont > .ship-cont.currently-placing {
    animation: placing-ship 0.4s linear infinite;
    background: rgba(134, 15, 194, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid var(--primary-color);
}

.manual-placement-cont > .ship-cont.already-placed {
    cursor: pointer;
}

.ship-cont.already-placed::before {
    content: attr(data-ship-start);
    position: absolute;
    top: 50%;
    left: -2.25rem;
    transform: translateY(-50%);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-light);
}

.ship-cont.already-placed::after {
    content: attr(data-ship-end);
    position: absolute;
    top: 50%;
    right: -2.25rem;
    transform: translateY(-50%);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-light);
}

@keyframes placing-ship {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.place-carrier {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: 30px;
}

.place-battleship {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: 30px;
}

.place-destroyer,
.place-submarine {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: 30px;
}

.place-patrol {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: 30px;
}

.reset-placements-utility {
    font-weight: 600;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.reset-placements-utility::before {
    content: '';
    transform: scale(0);
    transform-origin: center;
    height: 0.15rem;
    width: 100%;
    background-color: var(--self-hit);
    transition: 0.2s;
    position: absolute;
    bottom: -10%;
}

.reset-placements-utility:hover::before {
    transform: scale(1);
}

.reset-placements-utility > img {
    transition: 0.2s;
}

.reset-placements-utility:active > img {
    transform: rotate(360deg);
}

.random-placement-cont {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-randomly {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.place-randomly-icon {
    transition: 0.3s;
}

.place-randomly:hover {
    width: 8.5rem;
    border-radius: 1.25rem;
    background-color: var(--primary-color);
}

.place-randomly:hover .place-randomly-icon {
    width: 2.25rem;
    transform: translateY(62.5%);
}

.place-randomly::before {
    position: absolute;
    top: -15%;
    content: 'Randomize';
    color: var(--text-light);
    transition-duration: 0.3s;
    font-size: 0.15rem;
}

.place-randomly:hover::before {
    font-size: 0.825rem;
    top: 40%;
    transform: translateY(-50%);
}

.place-randomly:active {
    transition: 0.1s;
    background-color: var(--secondary-color);
}

/* Placement Styles */

/*-------------------------------------------------------------------------*/

/* Start Styles */

.start-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.error-description {
    font-weight: 600;
    color: var(--self-hit);
}

.start-game {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.135rem;
    background:
        radial-gradient(
            circle,
            var(--start-button-bg-color) 0%,
            rgba(0, 0, 0, 0) 95%
        ),
        linear-gradient(var(--start-button-pattern-color) 1px, transparent 1px),
        linear-gradient(
            to right,
            var(--start-button-pattern-color) 1px,
            transparent 1px
        );
    background-size:
        cover,
        0.85rem 0.85rem,
        0.85rem 0.85rem;
    background-position:
        center center,
        center center,
        center center;
    border-image: radial-gradient(
            circle,
            var(--start-button-color) 0%,
            rgba(0, 0, 0, 0) 100%
        )
        1;
    border-width: 1px 0 1px 0;
    color: var(--start-button-color);
    padding: 0.425rem 2.5rem;
    font-weight: 700;
    font-size: 1.35rem;
    transition: background-size 0.2s ease-in-out;
}

.start-game.start-error {
    background:
        radial-gradient(
            circle,
            var(--start-button-error-bg-color) 0%,
            rgba(0, 0, 0, 0) 95%
        ),
        linear-gradient(
            var(--start-button-error-pattern-color) 1px,
            transparent 1px
        ),
        linear-gradient(
            to right,
            var(--start-button-error-pattern-color) 1px,
            transparent 1px
        );
    background-size:
        cover,
        0.85rem 0.85rem,
        0.85rem 0.85rem;
    background-position:
        center center,
        center center,
        center center;
    border-image: radial-gradient(
            circle,
            var(--start-button-error-color) 0%,
            rgba(0, 0, 0, 0) 100%
        )
        1;
    color: var(--start-button-error-color);
    transition: background-size 0.2s ease-in-out;
}

.start-game.reset-game {
    background:
        radial-gradient(
            circle,
            var(--start-button-reset-bg-color) 0%,
            rgba(0, 0, 0, 0) 95%
        ),
        linear-gradient(
            var(--start-button-reset-pattern-color) 1px,
            transparent 1px
        ),
        linear-gradient(
            to right,
            var(--start-button-reset-pattern-color) 1px,
            transparent 1px
        );
    background-size:
        cover,
        0.85rem 0.85rem,
        0.85rem 0.85rem;
    background-position:
        center center,
        center center,
        center center;
    border-image: radial-gradient(
            circle,
            var(--start-button-reset-color) 0%,
            rgba(0, 0, 0, 0) 100%
        )
        1;
    color: var(--start-button-reset-color);
    transition: background-size 0.2s ease-in-out;
}

.start-game:hover {
    background-size:
        cover,
        0.605rem 0.605rem,
        0.605rem 0.605rem;
}

.start-game:active {
    filter: hue-rotate(305deg);
}

.start-game.start-error:active {
    filter: hue-rotate(20deg);
}

.start-game.reset-game:active {
    filter: hue-rotate(125deg);
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-22 22:24:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.6s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

/* Start Styles */

/*-------------------------------------------------------------------------*/

/* Stats Styles */

.stats-cont {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;

    border: 2px solid var(--text-light);
    border-radius: 0.85rem;

    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    place-items: center;
    gap: 0.5rem;
}

.stats-cont::before {
    content: 'Minimize';
    background-color: var(--text-light);
    color: var(--background-color);
    border-radius: 0.85rem;
    padding: 0.05rem 0.15rem 0.05rem 0.15rem;
    white-space: nowrap;
    font-size: 0.8rem;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.stats-cont.minimized::before {
    content: 'View Stats';
}

.stats-cont:hover::before {
    opacity: 1;
}

.fade-in {
    -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
    -webkit-animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-21 23:30:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-border {
    -webkit-animation: fade-in-border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out-border {
    -webkit-animation: fade-out-border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-out-border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-border {
    0% {
        border: 2px solid transparent;
    }
    100% {
        border: 2px solid var(--text-light);
    }
}
@keyframes fade-in-border {
    0% {
        border: 2px solid transparent;
    }
    100% {
        border: 2px solid var(--text-light);
    }
}

@-webkit-keyframes fade-out-border {
    0% {
        border: 2px solid var(--text-light);
    }
    100% {
        border: 2px solid transparent;
    }
}
@keyframes fade-out-border {
    0% {
        border: 2px solid var(--text-light);
    }
    100% {
        border: 2px solid transparent;
    }
}

.stats-cont.minimized {
    border: 2px solid transparent;
}

.stats-cont.minimized > div {
    visibility: hidden;
}

.stats-cont > div {
    white-space: nowrap;
}

.wins-cont {
    margin-left: 1rem;
}

.losses-cont {
    margin-right: 1rem;
}

.stats-icon {
    user-select: none;
    padding: 0.25rem;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background-color: var(--text-light);
}

/* Stats Styles */

/*-------------------------------------------------------------------------*/

/* Game Styles */

/*-------------------------------------------------------------------------*/

/* Main Styles */

/*-------------------------------------------------------------------------*/

/* Footer Styles */

footer {
    margin-bottom: 1.25rem;
}

.repo-link > img {
    transition: 0.2s;
}

/* Footer Styles */

/*-------------------------------------------------------------------------*/

/* Modal Styles */

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    z-index: 1;
}

.modal:focus {
    outline: none;
}

.modal-content {
    padding: 1.5rem;
    border-radius: 0.7rem;

    background: var(--background-color);

    position: fixed;
    z-index: 2;
    top: 20%;
    left: 50%;
    transform: translate(-50%);

    max-height: 65%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-23 22:07:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
    0% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
}

.guide-title {
    text-align: center;
}

.guide-content {
    overflow: auto;
}

.guide-subsection {
    max-width: 65ch;
    margin-bottom: 1rem;
}

.guide-paragraph {
    max-width: 65ch;
    line-height: 1.75;
}

.exit-modal {
    margin-top: 1.25rem;
    align-self: center;

    max-width: max-content;
    padding: 0.25rem 1.5rem 0.25rem 1.5rem;
    background-color: var(--self-hit);
    border-radius: 0.65rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.exit-modal:hover {
    transform: translateY(-0.15rem);
}

/* Modal Styles */

/*-------------------------------------------------------------------------*/

/* Misc Styles */

.hide {
    display: none;
}

.clear-visibility {
    visibility: hidden;
}

/* Misc Styles */
